doctype
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="canonical", href="https://emoji.fedyya.net")

        title Emoji Builder

        meta(name="description"  content="接頭辞と語に分かれた絵文字表現を生成できるアプリケーション")
        meta(name="author"       content="akaregi")

        meta(property="og:url"         content="https://emoji.fedyya.net")
        meta(property="og:type"        content="Website")
        meta(property="og:locale"      content="ja_JP")
        meta(property="og:site_name"   content="fedyya")
        meta(property="og:title"       content="Emoji Builder")
        meta(property="og:description" content="接頭辞と語に分かれた絵文字表現を生成できるアプリケーション")

        //- meta(property="og:image"         content="https://emoji.fedyya.net/eyecatch.png")
        //- meta(property="og:image:width"   content="1024")
        //- meta(property="og:image:height"  content="1024")
        //- meta(property="og:image:type"    content="image/png")

        meta(name="twitter:card"    content="summary")
        meta(name="twitter:site"    content="@akgmoegi")
        meta(name="twitter:creator" content="@akgmoegi")

    body
        div#app

        script(src="index.js")
